{% extends "testapp/base.html" %}

{% block title %}Testapp Title{% endblock %}

{% block content %}
	<h1>Testapp Title</h1>
	{% for post in posts %}
		<h2>
			<a href="{{ post.get_absolute_url }}">
				{{ post.title }}
			</a>
		</h2>
		<p class="date">
			Published {{ post.publish }} by {{ post.author }}
		</p>
			{{ post.body|truncatewords:30|linebreaks }}
	{% endfor %}
	{% include "testapp/pagination.html" with page=posts %}
{% endblock %}
